<!-- Python
   Django
   Try Django
   Templates (Level 2)
   Challenge 09 - Add styles to a template -->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TravelTracker</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" media="screen" />
    <link href="{% static 'style.css' %}" rel="stylesheet" media="screen" />
  </head>
  <body>
    <div class="panel">
      <h1>TravelTracker</h1>
      {% for location in locations %}
        <p>{{ location.name }}</p>
        <p>{{ location.flavors }}</p>
        <img src="{{ location.imnage }}" width="80" />
      {% endfor %}
    </div>
  </body>
</html>